html, body {
	height: 100%;
	margin: 0px;
}

.banner {
	position: fixed;
	width: 100%;
	animation: banner 10s linear infinite;
}
.banner2 {
	position: fixed;
	width: 100%;
	animation: banner2 10s linear infinite;
}
@keyframes banner {
	0% {
		transform: translate(0%, 0%);
	}
	100% {
		transform: translate(100%, 0%);
	}
}
@keyframes banner2 {
	0% {
		transform: translate(-100%, 0%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

.progress-bar {
	background-color: #f44336;
	opacity: 0;
	text-align: center;
	width: 0%;
}
.progress-bar:target
{
	opacity: 1;
	animation: progress-bar 4s linear both;
}
@keyframes progress-bar {
	0% {
		width: 0%;
		background-color: #f44336;
	}
	100% {
		width: 100%;
		background-color: #8bc34a;
	}
}

.dynamic-display {
	display: none;
}
.dynamic-display:target {
	display: block;
}

.modal-valid:target {
	color : #fff !important;
	background-color : #4caf50 !important;
}

.euro-background {
	background-size: 33.33%;
    background-image: url("../img/500€.png");
	background-repeat: repeat;
    background-position: center center;
}

.fallingBills {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.fallingBills span {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: -180px 40px 54px -34px;

	background-image: url("../img/50€.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;

	animation: fallingBills 10s infinite linear;
}

.fallingBills span:nth-child(3n+3) {
	background-image: url("../img/500€.png");
}
.fallingBills span:nth-child(3n+2) {
	background-image: url("../img/200€.png");
}
.fallingBills span:nth-child(5n+1) {
	background-image: url("../img/100€.png");
}
.fallingBills span:nth-child(10n) {
	background-image: url("../img/50€.png");
}

.fallingBills span:nth-child(5n+5) {
	animation-delay: 1s;
}
.fallingBills span:nth-child(3n+2) {
	animation-delay: 1.5s;
}
.fallingBills span:nth-child(2n+5) {
	animation-delay: 1.7s;
}
.fallingBills span:nth-child(3n+5) {
    animation-delay: 2.7s;
}
.fallingBills span:nth-child(7n+2) {
    animation-delay: 3.5s;
}
.fallingBills span:nth-child(4n+5) {
    animation-delay: 5.5s;
}
.fallingBills span:nth-child(4n+7) {
    animation-delay: 8s;
}
@keyframes fallingBills {
	0% {
		opacity: 1;
		transform: translate(0px, 0px) rotateZ(0deg);
	}
	75% {
		opacity: 1;
		transform: translate(100px, 600px) rotateZ(270deg);
	}
	100% {
		opacity: 0;
		transform: translate(150px, 800px) rotateZ(360deg);
	}
}
