.banner {
	position: fixed;
	width: 100%;
	animation: banner 10s linear infinite;
}
.banner2 {
	position: fixed;
	width: 100%;
	animation: banner2 10s linear infinite;
}
@keyframes banner {
	0% {
		transform: translate(0%, 0%);
	}
	100% {
		transform: translate(100%, 0%);
	}
}
@keyframes banner2 {
	0% {
		transform: translate(-100%, 0%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

.progress-bar {
	text-align: center;
	width: 0%;
}
.progress-bar:target
{
	animation: progress-bar 4s linear both;
}
@keyframes progress-bar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
