.banner {
	position: fixed;
	width: 100%;
	animation: banner 10s linear infinite;
}
.banner2 {
	position: fixed;
	width: 100%;
	animation: banner2 10s linear infinite;
}
@keyframes banner {
	0% {
		transform: translate(0%, 0%);
	}
	100% {
		transform: translate(100%, 0%);
	}
}
@keyframes banner2 {
	0% {
		transform: translate(-100%, 0%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

.progress-bar {
	background-color: #f44336;
	opacity: 0;
	text-align: center;
	width: 0%;
}
.progress-bar:target
{
	opacity: 1;
	animation: progress-bar 4s linear both;
}
@keyframes progress-bar {
	0% {
		width: 0%;
		background-color: #f44336;
	}
	100% {
		width: 100%;
		background-color: #8bc34a;
	}
}

.dynamic-display {
	display: none;
}
.dynamic-display:target {
	display: block;
}

.modal-valid:target {
	color : #fff !important;
	background-color : #4caf50 !important;
}

html, body {
	height: 100%;
	margin: 0px;
}

.euro-background {
	background-size: 33.33%;
    background-image: url("../img/500€.png");
	background-repeat: repeat;
    background-position: center center;
}
